.contactContainer{
    text-align: left;
    margin-top: 5%;
    margin-left: 10%;
    color: white;
    font-weight: 500;
}
.contactContainer h1{
    text-align: center;
    color: white;
    font-weight: bold;

}
.contactContainer div{
    text-align: left;
    gap: 1rem;
}
.contactContainer div span{
    margin-left: 1rem;

}
.contactContainer div:hover{
    color: salmon;
}