.footerContainer{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 5rem;
    width: 100vw;

    background-color: black;
    color: white;
    text-align: center;
}
.footerContainer div{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: centerxx;
}
.footerItem{
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    flex-wrap: wrap;
    margin: 0 8%;
}
.footerItem .title{
    color: #00C2FF;
    font-weight: bold;
}

@media screen and (max-width: 800px) {
    .footerItem{
        flex-wrap: wrap;
        margin: 0 1%;
    }
}